@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Honk&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bolhas {
    position: absolute;
    display: flex;
    width: 100%;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044, 0 0 50px #e5ff00, 0 0 100px #e5ff00;
    animation: animacao calc(150s / var(--i)) linear infinite;
}

@keyframes animacao {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #2dc3ff44, 0 0 50px #2dc3ff, 0 0 100px #2dc3ff;
}

/* Ocultar as bolhas em dispositivos menores */
@media screen and (max-width: 650px) {
    .bolhas {
        display: none; 
    }
}

.menu-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }

    16.666% {
        color: #ff7f00;
    }

    33.333% {
        color: #ffff00;
    }

    50% {
        color: #00ff00;
    }

    66.666% {
        color: #0000ff;
    }

    83.333% {
        color: #4b0082;
    }

    100% {
        color: #9400d3;
    }
}

h2 {
    font-family: "Press Start 2P", cursive;
    animation: rainbow 7.5s linear infinite;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
    font-size: 3.5em;
}

button {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    background: none;
    border: none;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    animation: rainbow 7.5s linear infinite;
    transition: transform 0.3s ease;
}

button:hover,
h2:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 100%;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    animation: deslizando 0.5s forwards;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10vw;
    border: 1px solid #888;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
}

@keyframes deslizando {
    from {
        right: 100%;
        opacity: 0;
    }

    to {
        right: 10%;
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menuText {
    font-family: "Roboto", sans-serif;
    color: black;
}

.menuOpcoes {
    position: fixed;
    top: 55px;
    left: 15px; 
    border: transparent;
    margin: 10px;
    display: none; 
    background-color: transparent;
    animation: deslizando 0.5s forwards;
}

.menu-button {
    position: fixed;
    top: 17.5px;
    left: 20px;
    background-color: transparent;
    border: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}